{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}
{% block content %}
  <form id="frm1" method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">

      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control loh"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
      <br />
      <input type="checkbox" onclick="myFunction()">Show Password

    <br />
    <button type="submit" class="btn btn-primary">Login</button>
  <input type="button" class = "btn btn-primary" onclick="myFfunction()" value="Clear">
  </form>
  <script src="https://kit.fontawesome.com/4ebea0040a.js" crossorigin="anonymous"></script>
  {% endblock %}
    